/*! normalize.scss v0.1.0 | MIT License | based on git.io/normalize */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/**
 * Remove default margin.
 */
body {
  margin: 0;
}

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none;
}

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0;
}

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold;
}

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic;
}

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000;
}

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
img {
  border: 0;
}

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden;
}

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px;
}

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto;
}

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */
}

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type=button],
input[type=reset],
input[type=submit] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal;
}

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type=checkbox],
input[type=radio] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */
input[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto;
}

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold;
}

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

.ico__service {
  background-position: center;
  background-repeat: no-repeat;
}

.wrapper {
  max-width: 1020px;
  padding: 0 40px;
}

.header {
  padding: 28px 0 37px 0;
  background-color: #2d303a;
  box-shadow: inset 0 -6px 0 #383c48;
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.header__navigation > * {
  margin: 0;
}

.layout-2-columns {
  display: flex;
}

.layout-3-columns {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.layout-3-columns > * {
  flex-basis: calc(100% / 3);
}

html {
  font-size: 10px;
}

body {
  width: 1020px;
  margin: 0 auto;
  font-family: "Lato", "AdobeInvisFont", "MyriadPro-Regular";
  font-size: 1.8rem;
}

h1 {
  font-family: "Lato", "AdobeInvisFont", "MyriadPro-Regular";
  font-size: 2.5rem;
  line-height: 3rem;
  font-weight: 700;
  font-style: normal;
  color: #ffffff;
  letter-spacing: -0.03em;
}

h2 {
  font-family: "Lato", "AdobeInvisFont", "MyriadPro-Regular";
  font-size: 3rem;
  line-height: 3.6rem;
  font-weight: 900;
  font-style: normal;
  color: #666d89;
  margin-bottom: 0px;
}

h4 {
  font-family: "Lato", "AdobeInvisFont", "MyriadPro-Regular";
  font-size: 1.8rem;
  line-height: 1.8rem;
  font-weight: 900;
  font-style: normal;
  color: #666d89;
}

p {
  font-family: "Lato", "AdobeInvisFont", "MyriadPro-Regular";
  font-size: 1.8rem;
  line-height: 3rem;
  font-weight: 300;
  font-style: normal;
  color: #767e9e;
  text-align: justify;
}

.logo {
  display: flex;
  justify-content: start;
  align-items: flex-end;
  cursor: pointer;
}

.logo__title {
  margin: 0;
  text-transform: uppercase;
}

.logo__symbol {
  color: #f06c64;
  font-family: "Lato", "AdobeInvisFont", "MyriadPro-Regular";
  font-size: 2.5rem;
  line-height: 3rem;
  font-weight: 700;
  font-style: normal;
}

.navigation__list {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Lato", "AdobeInvisFont", "MyriadPro-Regular";
  font-size: 1.26rem;
  line-height: 1.4rem;
  font-weight: 700;
  font-style: normal;
  color: #ffffff;
  text-align: right;
  letter-spacing: -0.035em;
  list-style: none;
  padding-left: 0;
  text-transform: uppercase;
}

.navigation__item {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.navigation__item + .navigation__item {
  margin-left: 26px;
}
.navigation__item + .navigation__item::before {
  content: "";
  position: relative;
  right: 13px;
  display: block;
  width: 3px;
  height: 3px;
  background-color: #494e62;
  border-radius: 50%;
}
.navigation__item_active {
  color: #f06c64;
}
.navigation__item:hover {
  color: #f06c64;
  text-decoration: underline;
}

.ico {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border-radius: 50%;
  border: 2px solid #666d89;
}

.ico__service {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  width: 56px;
  height: 56px;
}
.ico__service_pen {
  background-image: url("../../assets/images/pen.png");
}
.ico__service_bulb {
  background-image: url("../../assets/images/bulb.png");
}
.ico__service_heart {
  background-image: url("../../assets/images/heart.png");
}
.ico__service_phone {
  background-image: url("../../assets/images/phone.png");
}
.ico__service_bubble {
  background-image: url("../../assets/images/bubble.png");
}
.ico__service_star {
  background-image: url("../../assets/images/star.png");
}

.tabs__list {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0;
}

.tabs__item {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Lato", "AdobeInvisFont", "MyriadPro-Regular";
  font-size: 1.2rem;
  line-height: 1.2rem;
  font-weight: 400;
  font-style: normal;
  margin-right: 10px;
  padding: 4px 6px;
  color: #767e9e;
  border: 1px solid #767e9e;
  border-radius: 5px;
  cursor: pointer;
}
.tabs__item_active, .tabs__item:hover {
  color: #dedede;
  border-color: #dedede;
}

.slider {
  position: relative;
  background-color: #f06c64;
  box-shadow: inset 0 -6px 0 #ea676b;
}

.slider__list {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 600px;
  overflow: hidden;
  list-style: none;
}

.slider__item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.phones-wrapper {
  display: flex;
  width: 100%;
  height: 100%;
  padding: 105px 0 0 72px;
}

.phone-horizontal-wrapper {
  padding-left: 220px;
}

.slider__arrow {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 32px;
  background-image: url(../../assets/images/Arrow-left.png);
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
}
.slider__arrow_left {
  top: 278px;
  left: 40px;
}
.slider__arrow_right {
  top: 278px;
  right: 38px;
  transform: rotate(180deg);
}
.slider__arrow:hover {
  background-size: 19px;
}

.phone {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 215px;
  height: 458px;
  flex-direction: column;
  background-color: #f2f2f2;
  border-radius: 27px;
  box-shadow: 23px 23px 0px 2px #ce5d56;
}
.phone_horizontal {
  transform: rotate(90deg);
  box-shadow: 23px -24px 0px 2px #ce5d56;
}

.phone__microphone {
  width: 4px;
  height: 4px;
  margin-top: 17px;
  background-color: #eb5055;
  border: 2.5px solid #d8d8d8;
  border-radius: 50%;
}

.phone__speaker {
  width: 36px;
  height: 5px;
  margin-top: 10px;
  border-radius: 3px;
  background-color: #acacac;
}

.phone__screen {
  width: 188px;
  height: 333px;
  margin-top: 21px;
  border-radius: 5px;
  background: url(../../assets/images/Background-vertical.png);
  background-position: -14px -135px;
  border: 3px solid #c6c6c6;
}
.phone__screen_horizontal {
  image-rendering: pixelated;
  background: url(../../assets/images/Background-horizontal.png);
  background-position: -119px -122px;
}

.phone__button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  margin-top: 7px;
  border-radius: 50%;
  background-color: #fafafa;
}

.phone__button-square {
  width: 13px;
  height: 13px;
  border: 2px solid #c2c2c2;
  border-radius: 6px;
  background-color: #fafafa;
}

.services {
  background-color: #f2f2f2;
  box-shadow: inset 0 -6px 0 white;
}

.services-wrapper {
  padding-top: 34px;
  padding-bottom: 36px;
}

.services__title {
  margin-bottom: 5px;
}

.services__info {
  margin-bottom: 45px;
}

.services__list {
  list-style: none;
}
.services__list :nth-child(3n) {
  margin-right: 0;
}

.services__item {
  flex-basis: calc((100% - 40px) / 3);
  margin-right: 20px;
  margin-bottom: 17px;
}

.service {
  display: flex;
}

.service__ico-wrapper {
  margin-right: 20px;
  margin-top: 2px;
}

.service__title {
  margin: 0;
}

.service__info {
  margin-top: 10px;
  font-family: "Lato", "AdobeInvisFont", "MyriadPro-Regular";
  font-size: 1.2rem;
  line-height: 2.2rem;
  font-weight: 400;
  font-style: normal;
  text-align: justify;
}

.portfolio {
  background-color: #2d303a;
  box-shadow: inset 0 -6px 0 #383c48;
}

.portfolio-wrapper {
  padding-top: 34px;
  padding-bottom: 36px;
}

.portfolio__info {
  margin-bottom: 10px;
}

/*# sourceMappingURL=singolo.css.map */
