/*! normalize.scss v0.1.0 | MIT License | based on git.io/normalize */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/**
 * Remove default margin.
 */
body {
  margin: 0;
}

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none;
}

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0;
}

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold;
}

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic;
}

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000;
}

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
img {
  border: 0;
}

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden;
}

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px;
}

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto;
}

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */
}

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type=button],
input[type=reset],
input[type=submit] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal;
}

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type=checkbox],
input[type=radio] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */
input[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto;
}

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold;
}

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

.employee__image, .tiles__item, .ico-contact, .ico-social, .ico-service {
  background-position: center;
  background-repeat: no-repeat;
}

.ico-social, .ico-service {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border-radius: 50%;
  border: 2px solid #666d89;
  cursor: pointer;
}

.wrapper {
  box-sizing: border-box;
  width: 100%;
  max-width: 1020px;
  padding: 0 40px;
}
@media (max-width: 600px) {
  .wrapper {
    padding: 0 30px;
  }
}

.services-wrapper,
.portfolio-wrapper,
.about-us-wrapper,
.get-quote-wrapper {
  padding-top: 34px;
}
@media (max-width: 768px) {
  .services-wrapper,
.portfolio-wrapper,
.about-us-wrapper,
.get-quote-wrapper {
    padding-top: 14px;
  }
}
@media (max-width: 414px) {
  .services-wrapper,
.portfolio-wrapper,
.about-us-wrapper,
.get-quote-wrapper {
    padding-top: 1px;
  }
}

.services-wrapper {
  padding-bottom: 36px;
}
@media (max-width: 768px) {
  .services-wrapper {
    padding-bottom: 0;
  }
}
@media (max-width: 600px) {
  .services-wrapper {
    padding-bottom: 0;
  }
}

.portfolio-wrapper,
.about-us-wrapper {
  padding-bottom: 53px;
}
@media (max-width: 600px) {
  .portfolio-wrapper,
.about-us-wrapper {
    padding-bottom: 21px;
    box-shadow: none;
  }
}

.get-quote-wrapper {
  padding-bottom: 27px;
}

.layout-2-columns {
  display: flex;
}

.layout-3-columns {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.layout-3-columns > * {
  flex-basis: calc((100% - 40px) / 3);
  margin-right: 20px;
}
.layout-3-columns > :nth-child(3n) {
  margin-right: 0;
}

.layout-4-columns {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.layout-4-columns > * {
  flex-basis: calc((100% - 60px) / 4);
  margin-right: 20px;
}
.layout-4-columns > :nth-child(4n) {
  margin-right: 0;
}

.header {
  background-color: #2d303a;
  box-shadow: inset 0 -6px 0 #383c48;
}
@media (max-width: 600px) {
  .header {
    box-shadow: none;
  }
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding-top: 28px;
  padding-bottom: 37px;
}
@media (max-width: 600px) {
  .header__wrapper {
    padding: 23px 30px 23px 20px;
    justify-content: flex-start;
  }
}

.hamburger-wrapper {
  display: none;
}
@media (max-width: 600px) {
  .hamburger-wrapper {
    display: inline-block;
  }
}

.header__navigation > * {
  margin: 0;
}

.footer {
  background-color: #2d303a;
  box-shadow: inset 0 -6px 0 #383c48;
}
@media (max-width: 600px) {
  .footer {
    box-shadow: none;
  }
}

.footer-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 9px;
  padding-top: 4px;
}
@media (max-width: 414px) {
  .footer-wrapper {
    justify-content: center;
  }
}

.footer__info {
  font-family: "Lato", "AdobeInvisFont", "MyriadPro-Regular";
  font-size: 1.3rem;
  line-height: 1.8rem;
  font-weight: 900;
  font-style: normal;
  margin: 0;
  text-align: center;
  color: #666d89;
}
@media (max-width: 414px) {
  .footer__info {
    display: none;
  }
}

html {
  font-size: 10px;
}

body {
  width: 100%;
  max-width: 1020px;
  margin: 0 auto;
  font-family: "Lato", "AdobeInvisFont", "MyriadPro-Regular";
  font-size: 1.8rem;
}

h1 {
  font-family: "Lato", "AdobeInvisFont", "MyriadPro-Regular";
  font-size: 2.5rem;
  line-height: 3rem;
  font-weight: 700;
  font-style: normal;
  color: #ffffff;
  letter-spacing: -0.03em;
}

h2 {
  font-family: "Lato", "AdobeInvisFont", "MyriadPro-Regular";
  font-size: 3rem;
  line-height: 3.6rem;
  font-weight: 900;
  font-style: normal;
  color: #666d89;
  margin-bottom: 18px;
}

h4 {
  font-family: "Lato", "AdobeInvisFont", "MyriadPro-Regular";
  font-size: 1.8rem;
  line-height: 1.8rem;
  font-weight: 900;
  font-style: normal;
  color: #666d89;
}

p {
  font-family: "Lato", "AdobeInvisFont", "MyriadPro-Regular";
  font-size: 1.8rem;
  line-height: 3rem;
  font-weight: 300;
  font-style: normal;
  color: #767e9e;
  text-align: justify;
  margin: 0 0 10px 0;
}

ul {
  padding: 0;
}

.logo {
  display: flex;
  justify-content: start;
  align-items: flex-end;
  cursor: pointer;
}
@media (max-width: 600px) {
  .logo {
    flex-grow: 1;
    justify-content: center;
    font-size: 1.96875rem;
    line-height: 2.5rem;
  }
}

.logo__title {
  margin: 0;
  text-transform: uppercase;
}
@media (max-width: 600px) {
  .logo__title {
    font-size: 1.96875rem;
    line-height: 2.5rem;
  }
}

.logo__symbol {
  color: #f06c64;
  font-family: "Lato", "AdobeInvisFont", "MyriadPro-Regular";
  font-size: 2.5rem;
  line-height: 3rem;
  font-weight: 700;
  font-style: normal;
}
@media (max-width: 600px) {
  .logo__symbol {
    font-size: 1.96875rem;
    line-height: 2.5rem;
  }
}

@media (max-width: 600px) {
  .navigation {
    display: none;
  }
}

.navigation__list {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Lato", "AdobeInvisFont", "MyriadPro-Regular";
  font-size: 1.26rem;
  line-height: 1.4rem;
  font-weight: 700;
  font-style: normal;
  color: #ffffff;
  text-align: right;
  letter-spacing: -0.035em;
  list-style: none;
  padding-left: 0;
  text-transform: uppercase;
}

.navigation__item {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.navigation__item + .navigation__item {
  margin-left: 26px;
}
.navigation__item + .navigation__item::before {
  content: "";
  position: relative;
  right: 13px;
  display: block;
  width: 3px;
  height: 3px;
  background-color: #494e62;
  border-radius: 50%;
}
.navigation__item_active {
  color: #f06c64;
}
.navigation__item:hover {
  color: #f06c64;
  text-decoration: underline;
}

.ico {
  display: flex;
  justify-content: center;
  align-items: center;
}

.ico-service {
  width: 56px;
  height: 56px;
}
.ico-service_pen {
  background-image: url("../../assets/images/pen.png");
}
.ico-service_bulb {
  background-image: url("../../assets/images/bulb.png");
}
.ico-service_heart {
  background-image: url("../../assets/images/heart.png");
}
.ico-service_phone {
  background-image: url("../../assets/images/phone.png");
}
.ico-service_bubble {
  background-image: url("../../assets/images/bubble.png");
}
.ico-service_star {
  background-image: url("../../assets/images/star.png");
}

.ico-social {
  box-sizing: border-box;
  width: 32px;
  height: 32px;
  border-width: 1px;
}
.ico-social:hover {
  border: 2px solid #666d89;
  background-color: #fff;
}
.ico-social_facebook {
  background-image: url("../../assets/images/facebook.svg");
}
.ico-social_google {
  background-image: url("../../assets/images/google+.svg");
}
.ico-social_twitter {
  background-image: url("../../assets/images/twitter.svg");
}
.ico-social_linkedin {
  background-image: url("../../assets/images/linkedin.svg");
}

.ico-contact {
  box-sizing: border-box;
  width: 13px;
  height: 13px;
}
.ico-contact_location {
  background-image: url("../../assets/images/contact-location.svg");
}
.ico-contact_phone {
  background-image: url("../../assets/images/contact-phone.svg");
}
.ico-contact_mail {
  background-image: url("../../assets/images/contact-mail.svg");
}

.tabs__list {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
}

.tabs__item {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Lato", "AdobeInvisFont", "MyriadPro-Regular";
  font-size: 1.2rem;
  line-height: 1.2rem;
  font-weight: 400;
  font-style: normal;
  margin-right: 10px;
  margin-bottom: 7px;
  padding: 4px 6px;
  color: #767e9e;
  border: 1px solid #767e9e;
  border-radius: 5px;
  cursor: pointer;
}
.tabs__item_active, .tabs__item:hover {
  color: #dedede;
  border-color: #dedede;
}

.form__list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  border: none;
  outline: none;
}

.form__input-text,
.form__input-email,
.form__text-area {
  box-sizing: border-box;
  width: 100%;
  height: 38px;
  margin-bottom: 16px;
  padding: 0 35px 0 14px;
  background-color: #d6564f;
  border: none;
  border-radius: 5px;
  font-family: "Lato", "AdobeInvisFont", "MyriadPro-Regular";
  font-size: 1.2rem;
  line-height: 1.2rem;
  font-weight: 400;
  font-style: normal;
  color: #ffffff;
}
@media (max-width: 768px) {
  .form__input-text,
.form__input-email,
.form__text-area {
    margin-bottom: 12px;
  }
}
.form__input-text:invalid,
.form__input-email:invalid,
.form__text-area:invalid {
  border: 1px solid red;
}
.form__input-text::placeholder,
.form__input-email::placeholder,
.form__text-area::placeholder {
  color: #f48c8f;
}
.form__input-text:focus,
.form__input-email:focus,
.form__text-area:focus {
  outline: none;
}

.form__text-area {
  height: 202px;
  padding-top: 12px;
  resize: none;
}

.form__button-submit {
  float: right;
  box-sizing: border-box;
  padding: 5px 20px;
  background-color: #f5955e;
  border: 1px solid orangered;
  border-radius: 5px;
  font-family: "Lato", "AdobeInvisFont", "MyriadPro-Regular";
  font-size: 1.4rem;
  line-height: 1.7rem;
  font-weight: 700;
  font-style: normal;
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  cursor: pointer;
}
@media (max-width: 600px) {
  .form__button-submit {
    width: 100%;
  }
}

.form__button-submit:hover {
  border-color: orange;
  background-color: #d6564f;
}

.hamburger__line, .hamburger::after, .hamburger::before {
  content: "";
  position: absolute;
  display: inline-block;
  width: 100%;
  height: 2.4px;
  background: #ffffff;
  border-radius: 5px;
}

.hamburger {
  position: relative;
  display: inline-block;
  width: 25px;
  height: 20px;
}
.hamburger::before {
  top: 0;
  left: 0;
}
.hamburger::after {
  bottom: 0;
  left: 0;
}

.hamburger__line {
  top: calc(50% - 1.2px);
}

.slider {
  position: relative;
  background-color: #f06c64;
  box-shadow: inset 0 -6px 0 #ea676b;
  height: 58.8235294118vw;
  max-height: 600px;
}
@media (max-width: 600px) {
  .slider {
    box-shadow: none;
  }
}

.slider-wrapper {
  height: 100%;
}

.slider__list {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  overflow: hidden;
  list-style: none;
}

.slider__item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.phones-wrapper {
  display: flex;
  width: 100%;
  height: 100%;
  padding: 105px 0 0 72px;
}
@media (max-width: 1020px) {
  .phones-wrapper {
    padding: 10.2941176471vw 2.3529411765vw 0 7.0588235294vw;
  }
}
@media (max-width: 414px) {
  .phones-wrapper {
    padding-left: 15px;
    padding-right: 15px;
  }
}

.phone-horizontal-wrapper {
  padding-left: 220px;
}
@media (max-width: 1020px) {
  .phone-horizontal-wrapper {
    padding-left: 21.568627451vw;
  }
}

.slider__arrow {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 32px;
  background-image: url(../../assets/images/Arrow-left.png);
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
}
@media (max-width: 600px) {
  .slider__arrow {
    background-size: 14px;
  }
}
.slider__arrow_left {
  top: 278px;
  left: 40px;
}
@media (max-width: 1020px) {
  .slider__arrow_left {
    top: 27.2549019608vw;
    left: 3.9215686275vw;
  }
}
@media (max-width: 600px) {
  .slider__arrow_left {
    left: 10px;
  }
}
.slider__arrow_right {
  top: 278px;
  right: 38px;
  transform: rotate(180deg);
}
@media (max-width: 1020px) {
  .slider__arrow_right {
    top: 27.2549019608vw;
    right: 3.7254901961vw;
  }
}
@media (max-width: 600px) {
  .slider__arrow_right {
    right: 10px;
  }
}
.slider__arrow:hover {
  background-size: 19px;
}
@media (max-width: 1020px) {
  .slider__arrow:hover {
    background-size: 1.862745098vw;
  }
}

.phone {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 21.0784313725vw;
  height: 44.9019607843vw;
  max-width: 215px;
  max-height: 458px;
  flex-direction: column;
  background-color: #f2f2f2;
  border-radius: 27px;
  box-shadow: 23px 23px 0px 2px #ce5d56;
}
@media (max-width: 1020px) {
  .phone {
    border-radius: 2.6470588235vw;
    box-shadow: 2.2549019608vw 2.2549019608vw 0px 0.1960784314vw #ce5d56;
  }
}
.phone_horizontal {
  transform: rotate(90deg);
  box-shadow: 23px -24px 0px 2px #ce5d56;
}
@media (max-width: 1020px) {
  .phone_horizontal {
    box-shadow: 2.2549019608vw -2.3529411765vw 0px 0.1960784314vw #ce5d56;
  }
}

.phone__microphone {
  width: 0.3921568627vw;
  height: 0.3921568627vw;
  max-width: 4px;
  max-height: 4px;
  margin-top: 17px;
  background-color: #eb5055;
  border: 2.5px solid #d8d8d8;
  border-radius: 50%;
}
@media (max-width: 1020px) {
  .phone__microphone {
    margin-top: 1.6666666667vw;
    border-radius: 0.2450980392vw;
    border-radius: 50%;
  }
}

.phone__speaker {
  width: 3.5294117647vw;
  height: 0.4901960784vw;
  max-width: 36px;
  max-height: 5px;
  margin-top: 10px;
  border-radius: 3px;
  background-color: #acacac;
}
@media (max-width: 1020px) {
  .phone__speaker {
    margin-top: 0.9803921569vw;
    border-radius: 0.2941176471vw;
  }
}

.phone__screen {
  width: 18.431372549vw;
  height: 32.6470588235vw;
  max-width: 188px;
  max-height: 333px;
  margin-top: 21px;
  border-radius: 5px;
  background: url(../../assets/images/Background-vertical.png);
  background-position: -14px -135px;
  border: 3px solid #c6c6c6;
}
@media (max-width: 1020px) {
  .phone__screen {
    margin-top: 2.0588235294vw;
    border-radius: 0.4901960784vw;
    background-size: 56.862745098vw;
    background-position: -1.3725490196vw -13.2352941176vw;
  }
}
.phone__screen_horizontal {
  image-rendering: pixelated;
  background: url(../../assets/images/Background-horizontal.png);
  background-position: -119px -122px;
}
@media (max-width: 1020px) {
  .phone__screen_horizontal {
    background-size: 56.862745098vw;
    background-position: -11.6666666667vw -11.9607843137vw;
  }
}

.phone__button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3.9215686275vw;
  height: 3.9215686275vw;
  max-width: 40px;
  max-height: 40px;
  margin-top: 7px;
  border-radius: 50%;
  background-color: #fafafa;
}
@media (max-width: 1020px) {
  .phone__button {
    margin-top: 0.6862745098vw;
  }
}

.phone__button-square {
  width: 1.2745098039vw;
  height: 1.2745098039vw;
  max-width: 13px;
  max-height: 13px;
  border: 2px solid #c2c2c2;
  border-radius: 6px;
  background-color: #fafafa;
}
@media (max-width: 1020px) {
  .phone__button-square {
    border: 0.1960784314vw solid #c2c2c2;
    border-radius: 0.5882352941vw;
  }
}

.services {
  background-color: #f2f2f2;
  box-shadow: inset 0 -6px 0 white;
}
@media (max-width: 600px) {
  .services {
    box-shadow: none;
  }
}

.services__list {
  list-style: none;
  margin-top: 45px;
}
@media (max-width: 768px) {
  .services__list {
    margin-top: 35px;
    padding-right: 34px;
    justify-content: space-between;
  }
}
@media (max-width: 600px) {
  .services__list {
    padding-right: 25px;
    justify-content: center;
  }
}
@media (max-width: 414px) {
  .services__list {
    margin-top: 25px;
    padding-right: 13px;
  }
}

.services__item {
  margin-bottom: 19px;
}
@media (max-width: 768px) {
  .services__item {
    flex-basis: calc((100% - 53px) / 2);
    margin-right: 0;
    margin-bottom: 38px;
  }
}
@media (max-width: 600px) {
  .services__item {
    flex-basis: 100%;
    margin-bottom: 14px;
  }
}

.service {
  display: flex;
}

.service__ico-wrapper {
  margin-right: 20px;
  margin-top: 2px;
}

.service__title {
  margin: 0;
}

.service__info {
  margin-top: 10px;
  font-family: "Lato", "AdobeInvisFont", "MyriadPro-Regular";
  font-size: 1.2rem;
  line-height: 2.2rem;
  font-weight: 400;
  font-style: normal;
  text-align: justify;
}

.portfolio {
  background-color: #2d303a;
  box-shadow: inset 0 -6px 0 #383c48;
}
@media (max-width: 600px) {
  .portfolio {
    box-shadow: none;
  }
}

.tabs-wrapper {
  margin-bottom: 13px;
}

.tiles__list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}
.tiles__list > :nth-child(n+13) {
  display: none;
}
@media (max-width: 768px) {
  .tiles__list {
    justify-content: space-between;
  }
}
@media (max-width: 600px) {
  .tiles__list > :nth-child(n+9) {
    display: none;
  }
}

.tiles__item {
  height: calc(((100vw - 140px) / 4) * 187 / 220);
  max-height: 187px;
  margin-bottom: 20px;
  flex-shrink: 0;
  cursor: pointer;
  background-size: 100%;
}
@media (max-width: 768px) {
  .tiles__item {
    flex-basis: calc((100vw - 120px) / 3);
    margin-right: 0;
    height: calc(((100vw - 120px) / 3) * 187 / 220);
  }
}
@media (max-width: 600px) {
  .tiles__item {
    flex-basis: calc((100vw - 80px) / 2);
    height: calc(((100vw - 80px) / 2) * 187 / 220);
    max-height: none;
  }
}
.tiles__item_background1 {
  background-image: url(../../assets/images/portfolio-1.png);
}
.tiles__item_background2 {
  background-image: url(../../assets/images/portfolio-2.png);
}
.tiles__item_background3 {
  background-image: url(../../assets/images/portfolio-3.png);
}
.tiles__item_background4 {
  background-image: url(../../assets/images/portfolio-4.png);
}
.tiles__item_background5 {
  background-image: url(../../assets/images/portfolio-5.png);
}
.tiles__item_background6 {
  background-image: url(../../assets/images/portfolio-6.png);
}
.tiles__item_background7 {
  background-image: url(../../assets/images/portfolio-7.png);
}
.tiles__item_background8 {
  background-image: url(../../assets/images/portfolio-8.png);
}
.tiles__item_background9 {
  background-image: url(../../assets/images/portfolio-9.png);
}
.tiles__item_background10 {
  background-image: url(../../assets/images/portfolio-10.png);
}
.tiles__item_background11 {
  background-image: url(../../assets/images/portfolio-11.png);
}
.tiles__item_background12 {
  background-image: url(../../assets/images/portfolio-12.png);
}

.about-us {
  background-color: #f2f2f2;
  box-shadow: inset 0 -6px 0 white;
}
@media (max-width: 600px) {
  .about-us {
    box-shadow: none;
  }
}

.employees-wrapper {
  margin-top: 45px;
}
@media (max-width: 600px) {
  .employees-wrapper {
    margin-top: 31px;
  }
}

.about-us__list {
  padding: 0;
  list-style: none;
}
.about-us__list > :nth-child(3n) {
  margin-right: 0;
}
@media (max-width: 600px) {
  .about-us__list {
    justify-content: space-around;
  }
}
@media (max-width: 414px) {
  .about-us__list {
    margin-bottom: 4px;
  }
}

.about-us__item {
  display: flex;
  flex-direction: column;
  flex-basis: calc((100% - 41px) / 3);
  margin-right: 20px;
}
@media (max-width: 768px) {
  .about-us__item {
    flex-basis: calc((100% - 28px) / 3);
    margin-right: 14px;
  }
}
@media (max-width: 600px) {
  .about-us__item {
    flex-basis: 40vw;
    margin-right: 0;
    margin-bottom: 20px;
  }
}
@media (max-width: 414px) {
  .about-us__item {
    flex-basis: calc(100vw - 60px);
  }
}

.employee__image {
  width: 100%;
  height: calc((100vw - 120px) / 3);
  max-height: 300px;
  background-size: 100%;
}
@media (max-width: 768px) {
  .employee__image {
    height: calc((100vw - 108px) / 3);
  }
}
@media (max-width: 600px) {
  .employee__image {
    height: 40vw;
  }
}
@media (max-width: 414px) {
  .employee__image {
    height: calc(100vw - 60px);
    max-height: none;
  }
}
.employee__image_employee1 {
  background-image: url(../../assets/images/member1.png);
}
.employee__image_employee2 {
  background-image: url(../../assets/images/member2.png);
}
.employee__image_employee3 {
  background-image: url(../../assets/images/member3.png);
}

.employee__title {
  margin: 17px 0 0 0;
}

.employee__info {
  margin-top: 10px;
  margin-bottom: 22px;
  font-family: "Lato", "AdobeInvisFont", "MyriadPro-Regular";
  font-size: 1.2rem;
  line-height: 2.2rem;
  font-weight: 400;
  font-style: normal;
  text-align: justify;
}

.employee__social {
  margin-top: auto;
}

.social {
  display: inline-block;
}

.social__list {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  list-style: none;
  padding: 0;
}

.social__item {
  margin: 0;
}
.social__item + .social__item {
  margin-left: 8px;
}

.social__link {
  width: 100%;
  height: 100%;
}

.get-quote {
  background-color: #f06c64;
  box-shadow: inset 0 -6px 0 #f2827b;
}
@media (max-width: 600px) {
  .get-quote {
    box-shadow: none;
  }
}

.get-quote__title,
.get-quote__info {
  color: #f0d8d9;
}

.get-quote__form {
  display: flex;
  margin-top: 44px;
}
@media (max-width: 600px) {
  .get-quote__form {
    flex-direction: column;
  }
}

.form-wrapper {
  margin-right: 20px;
  flex-grow: 1;
}
@media (max-width: 600px) {
  .form-wrapper {
    margin-right: 0;
    margin-bottom: 32px;
  }
}

.contact-wrapper {
  flex-basis: 29.4117647059vw;
  max-width: 300px;
}
@media (max-width: 600px) {
  .contact-wrapper {
    width: 100%;
    max-width: none;
  }
}

.contact__title {
  color: #f0d8d9;
  margin-top: 0;
  margin-bottom: 10px;
}

.contact__info {
  margin-top: 10px;
  margin-bottom: 18px;
  font-family: "Lato", "AdobeInvisFont", "MyriadPro-Regular";
  font-size: 1.19rem;
  line-height: 2.2rem;
  font-weight: 400;
  font-style: normal;
  color: #f0d8d9;
  text-align: justify;
}

.contact__list {
  list-style: none;
}
@media (max-width: 600px) {
  .contact__list {
    margin-bottom: 5px;
  }
}

.contact__item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.ico-contact-wrapper {
  margin-right: 10px;
}

.contact__description,
.contact__link {
  font-family: "Lato", "AdobeInvisFont", "MyriadPro-Regular";
  font-size: 1.19rem;
  line-height: 2.2rem;
  font-weight: 400;
  font-style: normal;
  margin: 0;
  color: #f0d8d9;
  text-align: justify;
}

.contact__link {
  text-decoration: none;
}
.contact__link:hover {
  font-weight: 500;
  color: #fff;
  text-decoration: underline;
}

/*# sourceMappingURL=singolo.css.map */
