%bg-single-center {
  background-position: center;
  background-repeat: no-repeat;
}

%ico-style {
  @include flex-h-v();
  flex-shrink: 0;
  border-radius: 50%;
  border: 2px solid #666d89;
  cursor: pointer;
}
