.social {
  display: inline-block;
}

.social__list {
  @include flex-h-v($horizontal: flex-start);
  list-style: none;
  padding: 0;
}

.social__item {
  margin: 0;

  & + & {
    margin-left: 8px;
  }
}

.social__link {
  width: 100%;
  height: 100%;
}
