.tiles__list {
  @include flex-h-v();
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;

  > :nth-child(n + 13) {
    display: none;
  }

  @include media-tablet {
    justify-content: space-between;
  }

  @include media-tablet-small {
    > :nth-child(n + 9) {
      display: none;
    }
  }
}

.tiles__item {
  height: calc(((100vw - 140px) / 4) * 187 / 220);
  max-height: 187px;
  margin-bottom: 20px;
  flex-shrink: 0;
  cursor: pointer;
  background-size: 100%;
  @extend %bg-single-center;

  @include media-tablet {
    flex-basis: calc((100vw - 120px) / 3);
    margin-right: 0;
    height: calc(((100vw - 120px) / 3) * 187 / 220);
  }

  @include media-tablet-small {
    flex-basis: calc((100vw - 80px) / 2);
    height: calc(((100vw - 80px) / 2) * 187 / 220);
    max-height: none;
  }

  &_background1 {
    background-image: url(../../assets/images/portfolio-1.png);
  }

  &_background2 {
    background-image: url(../../assets/images/portfolio-2.png);
  }

  &_background3 {
    background-image: url(../../assets/images/portfolio-3.png);
  }

  &_background4 {
    background-image: url(../../assets/images/portfolio-4.png);
  }

  &_background5 {
    background-image: url(../../assets/images/portfolio-5.png);
  }

  &_background6 {
    background-image: url(../../assets/images/portfolio-6.png);
  }

  &_background7 {
    background-image: url(../../assets/images/portfolio-7.png);
  }

  &_background8 {
    background-image: url(../../assets/images/portfolio-8.png);
  }

  &_background9 {
    background-image: url(../../assets/images/portfolio-9.png);
  }

  &_background10 {
    background-image: url(../../assets/images/portfolio-10.png);
  }

  &_background11 {
    background-image: url(../../assets/images/portfolio-11.png);
  }

  &_background12 {
    background-image: url(../../assets/images/portfolio-12.png);
  }
}
