.tabs {
}

.tabs__list {
  @include flex-h-v($horizontal: flex-start);
  list-style: none;
  padding: 0;
  margin: 0;
}

.tabs__item {
  box-sizing: border-box;
  @include flex-h-v();
  @include font($size: 1.2rem, $height: 1.2rem, $weight: 400);
  margin-right: 10px;
  padding: 4px 6px;
  color: $color-info1;
  border: 1px solid $color-info1;
  border-radius: 5px;
  cursor: pointer;

  &_active,
  &:hover {
    color: $color-tab-active;
    border-color: $color-tab-active;
  }
}
