.footer {
  @include bg-shadow($bg-color: $color-background1);

  @include media-tablet-small {
    box-shadow: none;
  }
}

.footer-wrapper {
  @include flex-h-v(space-between, center);
  padding-bottom: 9px;
  padding-top: 4px;

  @include media-mobile {
    justify-content: center;
  }
}

.footer__info {
  @include font($size: 1.3rem, $height: 1.8rem, $weight: 900);
  margin: 0;
  text-align: center;
  color: $color-title1;

  @include media-mobile {
    display: none;
  }
}
