.layout-2-columns {
  display: flex;
}

.layout-3-columns {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  > * {
    flex-basis: calc((100% - 40px) / 3);
    margin-right: 20px;
  }

  > :nth-child(3n) {
    margin-right: 0;
  }
}

.layout-4-columns {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  > * {
    flex-basis: calc((100% - 60px) / 4);
    margin-right: 20px;
  }

  > :nth-child(4n) {
    margin-right: 0;
  }
}
