.wrapper {
  max-width: $content-width;
  padding: 0 40px;
}

.services-wrapper {
  padding-top: 34px;
  padding-bottom: 36px;
}

.portfolio-wrapper,
.about-us-wrapper {
  padding-top: 34px;
  padding-bottom: 53px;
}

.get-quote-wrapper {
  padding-top: 34px;
  padding-bottom: 27px;
}
